<!DOCTYPE html>
<html>
  <head>
    <title>食客 - 点餐人数统计</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Eisoo点餐</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/emcs">EMCS</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="/bigdata">BIGDATA</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="/anyshares">ANYSHARE</a></li>
          </ul>
        </div>
      </div>

	</nav>
  

    <%= yield %>

  </body>
</html>
